.render{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial;
}

.render input{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	font-size: 20px;
	padding-left: 10px;
}

p{
	margin: 10px;
	font-size: 18px;
	
}

body {
max-width: 2000px;
margin-top:"46px";
font-family: "Lato", sans-serif
}

#.mySlides {display: none}